@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="col-md-12">
    @if (TempData["MessageError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessageError"]
        </div>
    }
    <form asp-controller="Category" asp-action="Update" asp-area="Administrator" method="post">
        <input type="hidden" asp-for="ID"/> @*Formun üzerinden gelen ID'yi taşımak için*@
        <div class="card">
            <div class="card-header">
                <div class="card-title">Kategori Güncelle</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="CategoryName">Kategori Adı</label>
                    <input asp-for="CategoryName" type="text" class="form-control input-square" placeholder="Kategori Adı Giriniz...">
                </div>
                <div class="form-group">
                    <label asp-for="Description">Kategori Açıklaması</label>
                    <textarea asp-for="Description" type="text" class="form-control input-square" placeholder="Kategori Açıklaması Giriniz..."></textarea>
                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="btn btn-success">Güncelle</button>
            </div>
        </div>
    </form>
</div>


